* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  background: rgba(208, 230, 232, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: row;
  align-items: center;
  display: block;
}

.contenido {
  padding: 10px;
  font-size: 26px;
  font-family: "Protest Revolution", sans-serif;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.instrucciones {
  display: block;
  margin-top: 70px;
  height: 140px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 50px;
}

h1,
h3 {
  color: rgb(50, 115, 115);

  text-align: center;
  margin-top: 25px;
}
h3 {
  font-size: 20px;
}
#root {
  margin-top: 0px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 170px;
  margin-right: 100px;
  align-items: center;
  width: 1200px;
}

.card-container {
  width: 150px;
  height: 190px;
  background-color: gray;
  margin: 10px;
  border-radius: 20px 0px 20px 0px;
  -webkit-box-shadow: 5px 21px 39px 2px rgba(117, 119, 150, 1);
  -moz-box-shadow: 5px 21px 39px 2px rgba(117, 119, 150, 1);
  box-shadow: 5px 21px 39px 2px rgba(117, 119, 150, 1);
}

.img-container {
  width: 150px;
  height: 190px;
}

#imagen {
  display: block;
  object-fit: cover;
  padding: 0px;
  width: 100%;
  height: 190px;
  border-radius: 20px 0px 20px 0px;
}

.dorso-container {
  width: 150px;
  height: 190px;
}

.imagenDorso {
  display: block;
  object-fit: cover;
  padding: 0px;
  width: 100%;
  height: 190px;
  border-radius: 20px 0px 20px 0px;
}

.contenedor_boton {
  display: flex;
  padding: 5px;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
}
.revolver {
  height: 50px;
  width: 250px;
  font-size: 15px;
  background:rgba(208, 230, 232, 0.4);
  box-shadow: 6px 6px 20px -1px #acb8c9,
             -6px -6px 20px -1px #e8f8ff;
  border: none;
  margin-bottom: 30px;
  border-radius: 20px;
  color: rgb(50, 115, 115);
  font-size: 20px;
  font-weight:700;
}
.revolver:hover{
  box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
        inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);

}
.contenedorPuntuacion {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}



