#root{
   margin-top: 30px;
}

.contenedor{
    justify-content: center;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;

 
}

#portada{
    background-image: url(../src/Imagenes/imgport.jpg);
    width: 150px;
    height: 190px;

}
.card-container{
    width: 150px;
    height: 190px;
    background-color: gray;
    margin: 10px;
    border-radius: 20px 0px 20px 0px;
    -webkit-box-shadow: 5px 21px 39px 2px rgba(117,119,150,1);
-moz-box-shadow: 5px 21px 39px 2px rgba(117,119,150,1);
box-shadow: 5px 21px 39px 2px rgba(117,119,150,1);
 
}

.img-container{
    width: 150px;
    height: 150px;}

    #imagen {
        display: block;
        object-fit: cover;
        padding: 0px;
        width: 100%;
         height: 190px;
         border-radius: 20px 0px 20px 0px;
    
       }


